@font-face {
    font-family: 'Droid Sans Mono';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/droid-sans-mono-zeromod/DroidSansMonoDotted.ttf) format('truetype');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
html {
  scroll-behavior: smooth;
}

body {
    background-color: #232136;
    color: #e0def4;
}
.container {
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 210mm; /* A4 paper width */
    margin: 0 auto; /* Center horizontally */
}
h1::before {
    content: "{"; 
    color: #6e6a86;
} 
h1 { 
    margin-top: 40px;
    font-family: Droid Sans Mono; 
    font-size: 23px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 20px; 
    color: #eb6f92;
} 
h1::after { 
    content: "}"; 
    color: #6e6a86;
} 


h2::before {
    content: "<"; 
    color: #6e6a86;
} 
h2 {
    margin-top: 40px;
    margin-left: 5px;
    font-family: Droid Sans Mono; 
    font-size: 16px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 10px; 
    color: #569CD6;
}
h2::after {
    content: "/>"; 
    color: #6e6a86;
} 

h3::before {
    content: "<"; 
    color: #6e6a86;
} 
h3 {
    margin-top: 40px;
    margin-left: 5px;
    font-family: Droid Sans Mono; 
    font-size: 16px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 10px; 
    color: #569CD6;
}
h3::after {
    content: "/>"; 
    color: #6e6a86;
} 


p { 
    margin-left: 40px;
    font-family: Droid Sans Mono; 
    font-size: 16px; 
    font-weight: 400; 
    line-height: 23px; 
} 

blockquote::before {
    content: "\""; 
    color: #C39178; 
}
blockquote { 
    margin-left: 80px;
    font-family: Droid Sans Mono; 
    font-size: 16px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 23px;
    color: #C39178; 
}
blockquote::after {
    content: "\""; 
    color: #C39178; 
} 
pre::before {
    margin-left: 40px;
    color: #6e6a86;
}
pre { 
    font-family: Droid Sans Mono; 
    font-size: 16px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 23px;
    color: #6e6a86;
    white-space: pre-wrap; /* Allows the pre element to wrap */
    margin-left: 40px;
}
pre::after {
    color: #6e6a86;
}
pre>code {
    color: #e0def4;
    background-color: #393552; /* Grey color */
    display: inline-block; /* or display: block; */
    padding: 14px; /* Adjust padding as needed */
    border-radius: 10px; /* Optional: Add rounded corners */
}

a:hover::before{
    display: inline-block;
    content: "$";
    color: #3e8fb0;
    text-decoration: none;
}
a {
    font-family: Droid Sans Mono; 
    font-size: 16px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 10px; 
    color: #c4a7e7;
    text-decoration-line: underline;
}
p>a{
    font-family: Droid Sans Mono; 
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 23px; 
}
p>a:hover{
    font-family: Droid Sans Mono; 
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 23px; 
}
a:hover{
    font-family: Droid Sans Mono; 
    font-size: 16px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 10px; 
    color: #f6c177;
    text-decoration-line: underline;
}
a::after{
    display: inline-block;
    color: #6e6a86;
    text-decoration: none; 
}
a:hover::after{
    display: inline-block;
    color: #DBD400;
    text-decoration: none; 
}

nav::before{
    content: "[";
    color: #6e6a86;
}
nav>a{
    margin-left: 10px;
}
nav>a::after {
    content: ",";
    color: white;
}
nav>a:hover::after {
    content: ", ";
    color: #DBD400;
}
nav>a:first-child:before {
    
    content: "";
    color: white;
}
nav>a:first-child:hover::before {
    display: inline-block;
    content: "$";
    color: #3e8fb0;
    text-decoration: none;
}
nav>a:last-child:after {
    content: "";
    margin-right: 10px;
    color: white;
}
nav>a:last-child:hover:after {
    display: inline-block;
    color: #DBD400;
    text-decoration: none;
}
nav::after{
    content: " ]";
    color: #6e6a86;
}

ul{
    list-style: none;
    padding: 0px;
}
ul>li::before{
    content: "~ ";
    color: #6e6a86;
}
ul>li{
    font-family: Droid Sans Mono; 
    margin-left: 20px;
    color: #eb6f92;
}

ol>li::before{
    color: #6e6a86;
}
ol>li{
    font-family: Droid Sans Mono; 
    margin-left: 20px;
    color: #eb6f92;
}
ol li::marker {
    color: #6e6a86;
}

@media only screen and (min-width: 21.25cm) {
    .reader-mode{
        width: 21cm;
        height: 29.7cm;
        margin: 5mm 5mm 5mm 5mm; 
        margin-left: auto;
        margin-right: auto;
    }
    
}

.footer {
    padding: 10px;
}
